@model AdvertisingSystem.Models.Advertiser

@{
    ViewData["Title"] = "SubscriberCreate";
}

<h3>Create Subscriber Ad</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subscriber" class="control-label"></label>
                <input asp-for="Subscriber" class="form-control" />
                <span asp-validation-for="Subscriber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
